<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>Add Employee</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h1>Add Employee</h1>
		<br />
		<div class="col-sm-4">
			<form action="#" th:action="@{/save}" th:object="${employee}"
				method="post">

				<div alight="left">
					<tr>
						<label class="form-label">FirstName</label>
						<td><input type="text" th:field="*{FirstName}"
							class="form-control" placeholder="FirstName" /></td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">LastName</label>
						<td><input type="text" th:field="*{LastName}"
							class="form-control" placeholder="LastName" /></td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">Email</label>
						<td><input type="text" th:field="*{Email}"
							class="form-control" placeholder="Email" /></td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">PhoneNo</label>
						<td><input type="text" th:field="*{PhoneNo}"
							class="form-control" placeholder="PhoneNo" /></td>
					</tr>
				</div>
				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Save</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
</body>
</html>